@import "reset.css";
@import "topbar.css";

.top-bar > *:nth-child(2) {
  top: 2px;
  padding-left: 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

body {
  color: #897b00;
  background-color: #fee500;
}

.outer {
  height: 100%;
}

.header {
  margin: 110px 0 25px;
  text-align: center;
}

#login_form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
}

#login_form input::placeholder {
  color: rgba(0, 0, 0, 0.38);
}

.input_item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.input_item.pw {
  border-top: 0;
}

.input_id,
.input_pw {
  display: block;
  width: 100%;
  height: 22px;
  border: none;
  padding: 15px 0;
  font-size: 18px;
}

.btn_login_wrap {
  margin-top: 7px;
}

.btn_login {
  width: 100%;
  padding: 17px 7px;
  background-color: #f6f6f6;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 18px;
}

.dividing_safe {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  padding: 31px 0 20px;
}

.dividing_safe::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  top: 32px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
}

.dividing_safe .text {
  display: inline-block;
  position: relative;
  font-size: 14px;
  transform: translateY(-50%);
  background: #fee500;
  padding: 0 10px;
}

.qr-login {
  width: 100%;
  padding: 14px 7px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  font-size: 18px;
}

.login_keep {
  margin-top: 15px;
  position: relative;
}
.icon-info-circled-alt {
  font-size: 20px;
  position: absolute;
  top: 5px;
}
/* 커스텀 체크박스*/
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* 박스 스타일*/
.custom-checkbox .checkmark {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #897b00;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
}

/*체크시 스타일*/
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #ffffff;
}
/*체크 표시,아이콘*/
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 10px;
  top: 6px;
  width: 8px;
  height: 12px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/*체크후 아이콘 보이기*/
.custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
  display: block;
}

.find_wrap {
  padding: 150px 0 50px;
  text-align: center;
  position: relative;
}

.find_wrap li {
  display: inline-block;
  padding-right: 5px;
}

.find_wrap > *:nth-child(2) {
  top: 2px;
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
